body {
    padding: 0;
    margin: 0;
    background: White;
    padding-top: 10%;
    position: relative;
    font-family:"Times New Roman";
  }
@media (max-width: 575.98px) {
    body {
        padding-top: 60px
    }
}

html{
  border: solid MidnightBlue;
}
.navbar {
    background:White;
    border-top: solid MidnightBlue;
    border-left: solid MidnightBlue;
    border-right: solid MidnightBlue;
}
.nav-link{
    color: MidnightBlue;
    cursor: pointer;
}
/*
.nav-link {
    margin-right: 1em !important;
} */
.nav-link:hover {
    color: LightSalmon;
}


.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='MidnightBlue' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler .navbar-toggler .icon {
  border-color: White;
  right: : 100px;
  position: absolute;
}

a:hover{
  color: LightSalmon;
}
.custom-toggler .navbar-toggler {
  right: : 15px;
  position: absolute;
}

.title1{
  text-align: center;
  color: MidnightBlue
}


.description{
  text-align: center;
}
.description h1 {
	color: MidnightBlue;
  font-size: 5rem;
}
@media (max-width: 350px) {
    .description h1 {
        color: MidnightBlue;
        font-size: 3.5rem;
        text-align: center;
    }
}

.features {
	width: 70%;
  margin-top: 5%;
  padding: 5%;
}

.features p {
  vertical-align: middle;
}
.page-footer {
    background-color: MidnightBlue;
    color: White;
    padding: 3%;
    font-size: 0.75rem;
}

.container h1 {
  color: MidnightBlue;
  text-align: center;
}
.container h2 {
  color: MidnightBlue;
  text-align: center;
  font-size: 1.5em;
}
#project {
	width: 70%;
}


#project p{
  text-align: left;
}
#project h2{
  text-align: left;
}

#cv1, #project, #contactsocial {
  padding: 5%;
}
.container {
  text-align: center;
  color: MidnightBlue;
}
.nav-link.active {
background-color: MidnightBlue;
color: White;
}

.description a{
  text-decoration: none;
  color: MidnightBlue;
}

.description a:hover{
  color: LightSalmon;
}

.footer-copyright a{
  text-decoration: none;
  color: White;
}
.footer-copyright a:hover{
  color: LightSalmon;
}
