body {
    padding: 0;
    margin: 0;
    background: White;
    padding-top: 10%;
    position: relative;
    font-family:"Times New Roman";
    text-align: center;
    color: MidnightBlue;
  }
@media (max-width: 575.98px) {
    body {
        padding-top: 60px
    }
  }
@media (max-width: 768px) {
    .col-sm-12 {
      padding: 5%
    }

}

html{
  border: solid MidnightBlue;
}
.navbar {
    background:White;
    border-top: solid MidnightBlue;
    border-left: solid MidnightBlue;
    border-right: solid MidnightBlue;
}
.nav-link{
    color: MidnightBlue;
    cursor: pointer;
}

.nav-link:hover {
    color: LightSalmon;
}


.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='MidnightBlue' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler:focus, .navbar-toggler:hover {
    outline-color: MidnightBlue;
}
a:hover{
  color: LightSalmon;
}

.description h1 {
  font-size: 5rem;
}
@media (max-width: 350px) {
    .description h1 {
        font-size: 3.5rem;
    }
}

.features {
	width: 70%;
  margin-top: 5%;
  padding: 5%;
}

.features p {
  vertical-align: middle;
}
.page-footer {
    background-color: MidnightBlue;
    color: White;
    padding: 3%;
    font-size: 0.75rem;
}


.container h2 {
  font-size: 1.5em;
}
#project {
	width: 70%;
  text-align: left;
}

#cv1, #project, #contactsocial {
  padding: 5%;
}

.nav-link.active {
background-color: MidnightBlue;
color: White;
}
.nav-link.active:hover {
color: LightSalmon;
}

.description a{
  text-decoration: none;
  color: MidnightBlue;
}

.description a:hover{
  color: LightSalmon;
}

.footer-copyright a{
  text-decoration: none;
  color: White;
}
.footer-copyright a:hover{
  color: LightSalmon;
}

#orange {
  color: LightSalmon;
}
